/* #region Base */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* #endregion Base */

/* #region Header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  text-decoration: none;
}

.logo-accent {
  color: #2e2f42;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 40px;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.contacts-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  text-decoration: none;
}

.contacts {
  margin-left: 332px;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion Header  */

/* #region Tagline */

.tagline-title {
  /* text-align: center; */
  color: #ffffff;
  background-color: #2e2f42;
  padding: 188px 0;
  align-items: center;
}

.tagline {
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-size: 56px;
  font-weight: 700;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion Tagline */

/* #region Anvantages */
.advantages {
  padding: 120px 0;
}

.advantages-ul {
  display: flex;
  gap: 24px;
}

.advantages-li {
  width: calc((100% - 72px) / 4);
}

.advantages-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion Anvantages */

/* #region Team */
.team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  padding: 120px 0;
}

.our-team {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-ul {
  display: flex;
  gap: 24px;
}

.team-hero {
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* #endregion Team */

/* #region Portfolio */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
}

.title-portfolio {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-div {
  padding: 48px 24px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
  padding: 32px 16px;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Portfolio */

/* #region Footer */

footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

footer .logo-ftr {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}
footer .logo-accent {
  color: #f4f4fd;
}
.ftr {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
/* #endregion Footer */
